{# imdb_clone/views/genres/create.html.twig #}
{% extends 'Layouts/base.html.twig' %}

{% block title %}Add New Genre{% endblock %}

{% block content %}
    <h1>Add New Genre</h1>

    <form action="{{ BASE }}/genres/store" method="POST">
        <div>
            <label for="name">Genre Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <button type="submit">Create Genre</button>
        </div>
    </form>

    <p><a href="{{ BASE }}/genres">Back to Genres List</a></p>
{% endblock %}