{% extends 'Layouts/base.html.twig' %}

{% block title %}Unauthorized Access{% endblock %}

{% block content %}
    <div class="container text-center mt-5">
        <h1 class="display-1">403</h1>
        <p class="lead">Forbidden - You do not have permission to access this page.</p>
        <p><a href="/" class="btn btn-primary">Go to Home</a></p>
    </div>
{% endblock %}