{# imdb_clone/templates/error/404.html.twig #}
{% include 'layouts/header.html.twig' %}
<h2>404 Not Found</h2>
<p>The page you requested could not be found.</p>
<p><a href="{{ BASE }}">Go to Homepage</a></p>
{% include 'layouts/footer.html.twig' %}